* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

img {
    height: 400px;
    width: auto;
    display: inline-block;
}

h1 {
    text-align: center;
}

p {
    margin: 0;
    margin: 50px 0;
    width: 600px;
}

h1, h2 {
    background-color: #00BBF9;
}

.recipe_list li {
    background-color: #00F5D4;
    font-weight: 700;
    margin: 5px;
}

.recipe_intro {
    width: 100%;
}

.recipe_intro_text {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}